h3 {
  text-align: center;
  text-decoration: underline;
}
p {
  background-color: burlywood;
  padding: 10px;
  border-radius: 5px;
}

/* center a image */
.image-container {
  display: flex;
}
.image {
  display: block;
  width: 40%;
  max-height: 400px;
  max-width: 200px;
  border-radius: 5%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}
